body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.color-primary-0 { color: #515379 }	/* Main Primary color */
.color-primary-1 { color: #9798AE }
.color-primary-2 { color: #6F7191 }
.color-primary-3 { color: #3A3C60 }
.color-primary-4 { color: #242650 }

.color-secondary-1-0 { color: #ADA96B }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FBF8D4 }
.color-secondary-1-2 { color: #D0CC98 }
.color-secondary-1-3 { color: #8A854A }
.color-secondary-1-4 { color: #726D29 }

.color-secondary-2-0 { color: #AD8E6B }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FBE9D4 }
.color-secondary-2-2 { color: #D0B698 }
.color-secondary-2-3 { color: #8A6C4A }
.color-secondary-2-4 { color: #725029 }


#body {
  width: 100%;
  height: 100%;
}

.node circle {
  fill: #9798AE;
  stroke: #515379;
  stroke-width: 3px;
}

.node circle.selected {
  fill: none;
  stroke: #da4939;
  stroke-width: 2px;
  stroke-dasharray: 5,5;
}

.node path.selected {
  fill: white;
  fill-opacity: 0;
  stroke: #da4939;
  stroke-width: 2px;
}

.selection-mode {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.add-link-mode {
  cursor: crosshair;
}

.group rect {
  fill: none;
  stroke-width: 3px;
  stroke: #9798AE;
}

.group text.name {
  font: 16px 'PT Sans', sans-serif;
  fill: #242650;
}

path.icon {
  fill: #FBF8D4;
}

.node text.name {
  font: 16px 'PT Sans', sans-serif;
  fill: #242650;
}

.node text tspan.description1 {
  font: 12px 'PT Sans', sans-serif;
  fill: #726D29;
}

path.link {
  fill: none;
  stroke: #515379;
  stroke-width: 3px;
}

path.selected-link {
  fill: none;
  stroke: #da4939;
  stroke-width: 4px;
}

.guided-graph__sidebar-left {
  position: fixed;
  z-index: 1002;
  width: 250px;
  height: 100%;
  /*background: #424a5d;*/
}

.guided-graph__sidebar-right {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 5px 5px 5px 350px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}


.drop {
  padding: 10px;
  border: 1px solid #ccc;
}

#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20px 'PT Sans', sans-serif;
  color: #bbb;
}


.guided-graph__testing {
  z-index: 1003;
}